__pycache__/config.cpython-312.pyc
Sektioner/__pycache__/info.cpython-312.pyc
/MovementReports
/Secrets
/Sensordata
Funktioner/Movement/__pycache__/load_reports.cpython-312.pyc
Funktioner/Movement/__pycache__/pos_decorator.cpython-312.pyc
Funktioner/__pycache__/get_files.cpython-312.pyc
Sektioner/__pycache__/submarine.cpython-312.pyc
Funktioner/__pycache__/__init__.cpython-312.pyc
Funktioner/Movement/__pycache__/__init__.cpython-312.pyc
test_files/movement_test_0.txt
test_files/movement_test_1.txt
test_files/movement_test_2.txt
test_files/movement_test_3.txt
test_files/movement_test_4.txt
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_load_reports.cpython-312.pyc
