{% extends "base.html" %}

{% block title %}Lindas Fustfyllda Försvar{% endblock %}

{% block content %}
<!-- Hero Carousel -->
<section id="home" class="mt-5">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active slide1  ">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
          <h4 class="text-uppercase mb-3">Sök bland ubåtarnas serienummer</h4>
          <h1 class="text-uppercase">Serienummer Sökning</h1>
          <p>Sök på en specifik ubåt genom att söka på dess serienummer.</p>
          <a href="#" class="header-btn mt-3">Sök Nu</a>
        </div>
      </div>

      <div class="carousel-item slide2">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
          <h4 class="text-uppercase mb-3">Se potentiella kollisioner</h4>
          <h1 class="text-uppercase">Positionsuppdateringar</h1>
          <p>Se rörelserapporter, positionsuppdateringar och potentiella kollisioner</p>
          <a href="#" class="header-btn mt-3">Titta Loggarna</a>
        </div>
      </div>

      <div class="carousel-item slide3">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
          <h4 class="text-uppercase mb-3">Skriv in koden</h4>
          <h1 class="text-uppercase">Avfyra mini nukes</h1>
          <p>Skriv in koden för att avfyra en mininuke från en utav ubåtarna</p>
          <a href="#" class="header-btn mt-3">Skriv in</a>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock %}

